.sorting-visualiser {
  width: 100%;
  height: 100%;
}

.header-container {
  width: inherit;
  background-color: antiquewhite;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  .title-container {
    display: flex;
    justify-content: center;

    .title {
      font-size: xx-large;
      font-weight: 900;
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;

    .button {
      padding: 10px;
      margin: 0 10px;
      background-color: snow;
      outline: none;
      border: none;
      cursor: pointer;
      font-weight: bold;
    }
  }
}

.array-container {
  display: flex;
  justify-content: center;
  width: inherit;

  .array-bar {
    width: 0.25vw;
    display: inline-block;
    margin: 0 1px;
  }
}
